/* index.html */
#navbar .logo {
    float: none;
    text-align: center;
} 

#navbar ul, #navbar ul li {
    float: none;
    text-align: center;
}

#navbar ul li a {
    padding: 5px;
    border-bottom: 1px #444 dotted;
}

#showcase {
    height: 100%;
}

#showcase-text {
    padding-top: 70px;
    padding-bottom: 70px;
}

#home-info {
    height: 100%;
}

#home-info .info-img {
    display: none;
}

#home-info .info-content {
    float: none;
    width : 100%;
    padding: 120px 30px;
}

.box {
    float: none;
    width: 100%;
}

/* about.html */
#about-info #about-text,
#about-info #about-img {
    float: none;
    width: 100%;
}

.l-heading {
    text-align: center;
    line-height: 1.2em;
}

#about-info #about-img {
    margin-top: 30px;
}

/* contact.html */
#contact-info .box {
    border-bottom: 2px dotted #444;
}

